{% extends 'layout.html' %}

{% block body %}



<div class="row">
	
	<h1 class="text-center">Overview of Training Dataset</h1>

	<!--charts-->       
	<div id="charts" class="container mt-3 text-center">
	            
	    <!--top two charts-->       
	    <div class="row">
			<div class="col-6">
				<div id="{{ids[0]}}"></div>
			</div>
			<div class="col-6">
				<div id="{{ids[1]}}"></div>
			</div>
		</div>

	</div>

</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
	// plots the figure with id
	// id much match the div id above in the html
	var figures = {{figuresJSON | safe}};
	var ids = {{ids | safe}};
	for(var i in figures) {
	    Plotly.plot(ids[i],
	        figures[i].data,
	        figures[i].layout || {});
        }
</script>

{% endblock %}

